body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fffcff
}

.header {
    display: flex;
    flex: 0.1;
    justify-content: space-between;
    align-items: center;
    background-color: #fffcff
}

.logo-container {
    height: 100px;
    width: 100px;
    background-image: url('./meritt-thomas-Ao09kk2ovB0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.title-container {
    font-size: 50px;
}

.nav-bar {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}
      
.nav-links {
    color: #575656; 
    text-decoration: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: all 0.3s ease-in-out;
}
        
.nav-links:hover {
    color: #000000; 
    border: 0.1px solid #333;
}      
      
.content-container-1 {
    display: flex;
    flex: 1;
    background-image: url('./yeh-xintong-go3DT3PpIw4-unsplash.jpg'); 
    background-size: cover;
    background-position: center;
}

.content-container-1-left {
    flex: 1;
    margin: 1em;
    padding: 1em;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.7); 
    color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container-1-right {
    flex: 1;  
    margin: 1em;
    padding: 1em;
    background-image: url('./farhan-picture.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.content-container-2 {

}

.footer {

}
